header { background-color: lightblue;       
         background-position: top;
         background-repeat: repeat-x;
         height: 95px;
         color: black;
         text-align: center;
         padding: 7px;
         border-bottom: 5px dashed black; }		 
nav { float: left;
      width: 150px; }
main { margin: 0 0px 0 160px;
        padding: 5px 50px 270px 50px;
        background-color: #43FBED ;
        background-image: linear-gradient(to bottom, #FFFFFF, #43FBED);
        background-repeat: no-repeat;
        color: black; }
footer { font-size: .90em;
         text-align: center;
         color: pink;
         background-color: white;
         padding-top: 15px;
        }		 
h1 { margin-top: 10px;
     font-size: 3em;
     text-align: center;
    }	 
header t {font-size: 0.50em; }
     
ul {list-style-type: none; }

nav left:visited { color: black; }

main b { color: black;
                   background-color: pink; }
                   
#container {background-color: lightcoral;
             color: black;
             min-width: 960px;
             font-family: Arial, Verdana, sans-serif;
 }
 
.column {float: left;
  width: 50%;
  padding: 10px;
  height: 400px;
  box-sizing: border-box;
}
  
.row:after {content: "";
  display: table;
  clear: both;
}
a {text-decoration: none;
}